/***********************************************************************************************/
/* TABLE OF CONTENTS: */
/***********************************************************************************************/

/*------------------------------------------------------------------------

  01. Common Styles
      -Typography
      -Buttons
      -Form
  02. Preloader
  03. Navbar
  04. Hero section
      -Hero section 2
      -Hero section 3
      -Hero section 4
  05. Home hero
  06. About Section
  07. Choose Section
  08. Projects Section
  09. Clients section
  10. Statistics Section
  11. Call-to-action section
  12. Services
  13. Portfolio Page
  14. Tweet section
  15. Blog-section
  16. Contact section
  17. Google maps
  18. Single-project
  19. Landing page
      -Features Section
      -Video section
      -Offer section
      -Screenshots
      -Subscribe section
      -Testimonials section
  20. Landing Blog
      -Pagination
      -Comments section
      -Sidebar
      -About widget
      -Tags
      -Recent Posts 
  21. App landing page
  22. Coming soon page
  23. Personal page
  24. Footer
  25. Back to top
  26. Responsive Part

--------------------------------------------------------------------------*/



/***********************************************************************************************/
/* =Common Styles */
/***********************************************************************************************/

body {
  font-family: 'Raleway', sans-serif;
  color: #737272;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  padding-top: 68px;
  position: relative;
}

a {
  color: #fc6e51;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.dark-bg {
  background: #34353A;
}

.white-bg {
  background: #fff;
}

.without-padding {
  padding: 0;
}

.marg-0 {
  margin: 0;
}

.pad-b-0 {
  padding-bottom: 0!important;
}

.pad-t-100 {
  padding-top: 100px!important;
}

.bg-gray {
  background: #e5e5e5;
}

.form-control::-moz-placeholder {
  color: #494949;
}
.form-control:-ms-input-placeholder {
  color: #494949;
}
.form-control::-webkit-input-placeholder {
  color: #494949;
}

/***********************************************************************************************/
/* =Typography */
/***********************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #1f2021;
  text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1, .h1 {
  font-family: 'Abel', sans-serif;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
}  

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 0;
}

.title-section hr {
  width: 15%;
}

.title-section  p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.pad-sec {
  padding: 100px 0!important;
}

.title-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sep-section {
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
}

/***********************************************************************************************/
/* =Buttons */
/***********************************************************************************************/

.btn {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 14px 25px;
  border-radius: 1px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, 
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-xs {
  padding: 5px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-sm {
  padding: 8px 37px;
  font-size: 12px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-lg {
  padding: 15px 35px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: #fc6e51;
  border-color: #fc6e51;
}

.btn-black {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  background-color: #fc6e51;
  border-color: #fc6e51;
  color: #fff;
}

.btn-clean {
  border-color: #F5F5F5;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: 0;
}

.btn-clean:hover, .btn-clean:focus, .btn-clean:active {
  color: #fff;
}

.btn-dark {
  color: #FFF;
  text-transform: uppercase;
  background: rgba(34,34,34, .9);
  font-weight: 400;
  border-color: rgba(0,0,0, .7);
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:visited {
  color: rgba(255,255,255, .85);
  background: rgba(0,0,0, .7);
  outline: 0;
  box-shadow: none;
}

.btn-light {
  background: #f3f3f3;
  color: #000;
}

.call-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 0;
  border: none;
  outline: none;
  display: inline-block;
}

.btn-gray {
  color: #777;
  background: #e5e5e5;
}

/***********************************************************************************************/
/* =Form */
/***********************************************************************************************/

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  height: auto;
  padding: 9px 12px;
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.form-control:focus {
  color: #111;
  border-color: rgba(0,0,0, .7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/***********************************************************************************************/
/* =Preloader */
/***********************************************************************************************/ 

#preloader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../images/loading.GIF") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

/************************************************************************


/***********************************************************************************************/
/* =Hero section */
/***********************************************************************************************/

#hero-section {
  position: absolute;
  display: table;
  width: 100%;
  top: 0;
}

.home-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-hero {
  position: relative;
  background: url('../images/hero-bg/home.jpg');
  background-size: cover;
}

/***********************************************************************************************/
/* =Hero section-2 */
/***********************************************************************************************/

.home-hero-2:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-hero-2 {
  background: url('../images/hero-bg/home-2.jpg');
  background-size: cover;
}

/***********************************************************************************************/
/* =Hero section-3 */
/***********************************************************************************************/

.home-hero-3:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-hero-3 {
  background: url('../images/hero-bg/home-3.jpg');
  background-size: cover;
}

/***********************************************************************************************/
/* =Hero section-4 */
/***********************************************************************************************/

.home-hero-4:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-hero-4 {
  background: url('../images/hero-bg/home-4.jpg');
  background-size: cover;
}

/***********************************************************************************************/
/* =Home hero */
/***********************************************************************************************/

.hero-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}

.hero-content h1, p.hero {
  color: #fff;
}

.hero-content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.div-line {
  width: 50px;
  background-color: #fff;
  height: 3px;
  margin: 20px auto;
}

p.hero {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  display: block;
  margin-top: 20px;
}

.hero-btn {
  margin-top: 50px;
}

ul.caption-slides {
  padding-left: 0;
}

ul.caption-slides li {
  text-align: center;
}

/***********************************************************************************************/
/* =About Section */
/***********************************************************************************************/

.about-hero {
  background: url('../images/hero-bg/about.jpg');
  background-size: cover;
}

.about-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

#about-us-section {
  padding: 100px 0;
}

.about-studio h4, .what-do h4, .process-work h4 {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}

.btn-link-a {
  cursor: pointer;
  color: rgba(17, 17, 17, 0.9);
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  margin-top: 25px;
}

.btn-link-a:hover {
  color: #000;
}

#about-section {
  padding: 110px 0 120px 0!important;
}

.big-title-sec {
  text-align: center;
  padding-bottom: 100px;
}


.big-title-sec hr {
  border: 1.5px solid #000;
  margin: 30px auto;
  width: 80px!important;
  margin-bottom: 50px;
}

.big-title-sec .big-title {
  font-weight: 300;
  text-transform: none;
  font-size: 24px;
  color: #000;
}

.big-title-sec .big-subtitle {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.3px;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.45;
  text-transform: none;
  color: #000;
}

.big-title-sec p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.7px;
  font-weight: 300;
}

.big-title-sec .view-more {
  padding-top: 50px;
}

.big-title-sec .view-more a.btn-primary {
  margin-right: 2px;
}

.big-title-sec .view-more a.btn-primary:hover {
  opacity: .8;
  background: #fc6e51;
  border: 1px solid #fc6e51;
}

.about-box {
  text-align: center;
}

.alt-about-icon {
  padding-top: 10px;
  font-size: 44px;
  line-height: 0.9;
  color: #fc6e51;
}

.about-box h4 {
  font-weight: 600;
  letter-spacing: 1.7px;
  padding-top: 15px;
  padding-bottom: 8px;
}

/***********************************************************************************************/


/***********************************************************************************************/
/* =Projects Section */
/***********************************************************************************************/

#projects-section {
  padding: 100px 0 80px 0!important;
}

#projects-section .title-section {
  padding-bottom: 80px;
}

#type-masory {
  width: 100%;
}

#projects-section #type-masory .project {
  overflow: hidden;
  margin-bottom: 30px;
}

.project-item a {
  position: relative;
  display: block;
}

.project-item a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/*Overlay projects*/

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(15, 15, 15, 0.9);
  opacity: 0;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.overlay .overlay-inner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.overlay .overlay-inner h3 {
  color: #F0F0F0;
  margin-bottom: 15px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transform: translateY(-30px);
     -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
       -o-transform: translateY(-30px);
          transform: translateY(-30px);
}

.overlay .overlay-inner p {
  color: #DBDBDB;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
          transform: translateY(30px);
  margin-bottom: 15px;
}

a:hover .overlay .overlay-inner h3 {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

a:hover .overlay .overlay-inner p, a:hover .overlay .overlay-inner span {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.overlay-inner span {
  font-size: 42px;
  color: #DBDBDB;
  font-weight: 300;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
}

a:hover .overlay {
  opacity: 1;
}

.view-more {
  text-align: center;
  padding-top: 60px;
}

#masonry-projects-section {
  padding: 0 0 100px 0;
}

#masonry-projects-section #type-masory .project {
  padding-bottom: 30px;
}

/***********************************************************************************************/
/***********************************************************************************************/
/* =Contact section*/
/***********************************************************************************************/

#contact-section .divider {
  display: inline-block;
}

#contact-section .title-section {
  padding-bottom: 80px;
}

.form-group .form-control.br-b {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

textarea.form-control {
  min-height: 100px;
}

#contactform .form-group #submit {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.contact-info {
  text-align: center;
  border-top: 1px solid #EEEEEE;
}

.contact-info a {
  color: #4F4F4F;
  font-size: 18px;
  display: block;
  padding: 50px 0;
}

.contact-info a i {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}

/***********************************************************************************************/

/***********************************************************************************************/
/* =Landing page*/
/***********************************************************************************************/

.landing-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-hero {
  background: url('../images/hero-bg/landing.jpg');
  background-size: cover;
}

/*--------------------
  Features Section
----------------------*/

#features-section {
  padding: 120px 0!important;
  padding-bottom: 100px!important;
}

#features-section .title-section {
  padding-bottom: 80px;
}

.features-image {
  text-align: center;
}

.choose-image {
  text-align: center;
}

ul.features-list {
  list-style: none;
  padding: 0;
  padding-top: 50px;
}

ul.features-list li {
  margin-bottom: 30px;
}

.iconbox {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}

.iconbox i {
  font-size: 32px;
  color: #fc6e51
}

.features-box-content {
  margin-left: 70px;
}

.features-box-content h6 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.creative-content-left, .creative-content-right {
  padding-top: 100px;
}

#creative-section-1 h2, #creative-section-2 h2, #features-app-section-1 h2, #features-app-section-2 h2 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: capitalize;
}

#creative-section-1 p, #creative-section-2 p, #features-app-section-1 p {
  line-height: 26px;
  font-size: 14px;
}

#creative-section-1 .view-more, #creative-section-2 .view-more, #features-app-section-1 .view-more, #features-app-section-2 .view-more {
  padding-top: 30px;
  text-align: left!important;
}

.img-creative-left figure, .img-creative-right figure {
  padding: 0 25px;
  text-align: center;
}

/*--------------------
  Video section
----------------------*/

#video-section {
  position: relative;
  background: url('../images/uno.jpg') center top;
  padding: 100px 0;
}
#video-section:before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#video-section .container {
  position: relative;
  z-index: 3;
}

#video-section .video-section-content a {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border: 3px solid rgba(255,255,255, .93);
  text-align: center;
  line-height: 78px;
  font-size: 28px;
  color: rgba(255,255,255, .93);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#video-section .video-section-content a .fa-play {
  position: relative;
  left: 4px;
}

.video-head {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  padding-bottom: 7px;
}

.video-sub-heading {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
  opacity: .9;
  color: #fff;
}

/*--------------------
  Offer section
----------------------*/

#landing-offer .title-section h2 {
  margin-top: 500px; ;
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.offer-post {
  padding: 30px 0;
}

.offer-post h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: none;
  font-weight: 500;
}

.offer-icon {
  font-size: 42px;
  color: #fc6e51;
  padding-bottom: 15px;
}


/***********************************************************************************************/

/*--------------------
  Sidebar
----------------------*/

.widget {
  padding-top: 40px;
  padding-left: 10px;
}

.widget ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.widget li {
  padding: 5px 0;
}

.widget h3 {
  font-weight: 400;
  border-bottom: 1px solid #eee;
  padding: 0 0 12px;
  margin: 0 0 25px
}

.widget a {
  color: #777;
}

.widget a:hover, .widget a:focus, .widget:active {
  color: #000;
}

.widget:first-child {
  padding-top: 0;
}

#search-form {
  position: relative;
}

.input-group .form-control {
  border: 1px solid #dcdcdc;
  padding: 8px 12px;
}

.btn-search {
  border: 1px solid #dcdcdc;
  padding: 7px 20px;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #A1A1A1;
  background: transparent;
}

.btn-search:hover {
  color: #333;
}

.search-input {
  color: #A1A1A1;
  font-size: 13px;
  font-weight: 300;
}

.search-input::-moz-placeholder {
  color: #A1A1A1;
  opacity: 1;
  letter-spacing: 1.6px;
}
.search-input:-ms-input-placeholder {
  color: #A1A1A1;
  letter-spacing: 1.6px;
}
.search-input::-webkit-input-placeholder {
  color: #A1A1A1;
  letter-spacing: 1.6px;
}


/***********************************************************************************************/
/* =App landing page */
/***********************************************************************************************/

.app-hero {
  background: url('../images/hero-bg/app.jpg');
  background-size: cover;
}

.app-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

#features-app-section-1, #features-app-section-2 {
  padding: 120px 0;
}

.features-app-content-right {
  padding-top: 30px;
}

#features-app-section-1 h2, #features-app-section-2 h2 {
  margin-bottom: 35px;
}

#features-app-section-1 p {
  margin-bottom: 20px;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: 300;
}

ul.features-app-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

ul.features-app-list li {
  margin-bottom: 10px;
}

#feature-app-section-2 ul.features-app-list li {
  margin-bottom: 15px!important;
}

.app-feature-icon {
  font-size: 24px;
  color: #fc6e51;
  margin-right: 20px;
}

.feature-app-box-content p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px!important;
  font-weight: 300;
}

.features-app-content-left {
  padding-top: 40px;
}

#features-app-section-2 ul.features-app-list {
  padding-top: 50px;
}

#features-app-section-2 ul.features-app-list li {
  margin-bottom: 15px;
}

#features-app-section-2 .feature-app-box-content {
  display: table;
}

#features-app-section-2 .feature-app-box-content h6 {
  margin-top: 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#features-app-section-2 p {
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1.2px;
}

#perfect-section {
  background: url('../images/temp/bg-3.jpg');
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

#perfect-section:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

#perfect-section .container {
  position: relative;
  z-index: 3;
}

#perfect-section h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 10px;
}

#perfect-section p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  opacity: .9;
  color: #fff;
}

#perfect-section a {
  margin-top: 30px;
}

#download-section {
  position: relative;
  padding: 60px;
  background-size: cover;
  background: url('../images/temp/tweet-bg.jpg');
}

#download-section:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#download-section .container {
  z-index: 3;
  position: relative;
}

#download-section .download-text {
  text-align: center;
}

.download-text h2 {
  line-height: 34px;
  font-weight: 300;
}

.download-text h2 strong {
  font-weight: 400;
  font-size: 26px;
}

.download-text h2, .download-text p {
  color: #fff!important;
}

.download-text p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.download-text a {
  margin-top: 30px;
  display: inline-block;
}

ul.download {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.download li {
  display: inline-block;
}

ul.download li a {
  display: block;
}

ul.download li a:hover, ul.download li a:focus, ul.download li a:active {
  opacity: .8;
}

ul.download li a img {
  width: 90%;
}

/***********************************************************************************************/

/***********************************************************************************************/
/* =Footer */
/***********************************************************************************************/

#footer-section {
  padding: 80px 0;
  background: #F7F7F7;
  border-top: 1px solid #EEEEEE;
}

ul.footer-social-links {
  list-style-type: none;
  padding: 0;
}

ul.footer-social-links li {
  display: inline-block;
  margin-left: 30px;
}

ul.footer-social-links li:first-child {
  margin: 0;
}

ul.footer-social-links li a {
  font-size: 15px;
  color: #4F4F4F;
  display: block;
  text-transform: uppercase;
}

ul.footer-social-links li a:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  height: 1px;
  background: #fe8869;
  opacity: 0;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

ul.footer-social-links li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

p.copyright {
  padding-top: 40px;
}

/***********************************************************************************************/
/* =Back to top */
/***********************************************************************************************/

.back-to-top {
  text-align: center;
  background: #ed4d2b;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 9999
}

.back-to-top:hover {
  opacity: .9;
}

/***********************************************************************************************/
/* Responsive Part */
/***********************************************************************************************/

@media screen and (max-width: 1200px) {

  #about-section .about {
    padding-top: 40px;
  }

}

@media screen and (max-width: 992px) {

  body {
    padding-top: 55px;
  }

  .navbar .container {
    width: 95%!important;
  }

  .entry-post {
    padding-bottom: 35px;
  }

  #type-masory {
    width: auto;
}

  #about-section .about {
    padding: 90px 70px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 10px;
  }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: none;
  }

  ul.price-table {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-image {
    margin-top: 40px!important;
  }

  .gallery-masory {
    width: auto;
  }

  .contactform {
    padding: 80px 10px;
  }

  .portfolio-desc .col-sm-4 {
    margin-bottom: 20px;
  }

  .portfolio-rel figure {
    margin-bottom: 20px;
  }

  .form-inline .form-control, .form-inline .form-group {
    display: block;
  }

  .newsletter-field {
    width: 100%;
  }

  #subscribe-section #subscribe-button {
    display: block;
    width: 100%;
  }

  #blog-head {
    text-align: center!important;
  }

  #search-form {
    margin-top: 30px;
  }

  .breadcrumb {
    text-align: center;
  }

}

@media screen and (max-width: 768px) {

  .navbar .container {
    width: auto;
  }

  .big-title-sec .view-more a {
    margin: 5px 0;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .soon-countdown div span:first-child {
    font-size: 60px;
  }

  .creative-content-left {
    padding-top: 0;
  }

   #creative-section-1 .view-more {
    text-align: center!important;
   }

 #creative-section-2 .view-more {
    margin-bottom: 80px;
    text-align: center!important;
  }

  .about-studio, .what-do {
    padding-bottom: 35px;
  }

  .member-team {
    margin-bottom: 30px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 30px;
 }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: block;
  }

  .banner-content {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }

  .banner-image {
    text-align: center;
    margin-bottom: 40px;
  }

  .client img {
    width: 70%!important;
  }

  .about-me h4 a {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 640px) {
  
  h1, .h1 {
    font-size: 40px;
  }

    .hero-content h1 {
    font-size: 33px;
  }

  .soon-countdown div span:first-child {
    font-size: 50px;
  }

  p.hero {
    font-size: 14px;
    line-height: 24px;
  }

  .big-title-sec .big-title {
    font-size: 20px;
  }

  .big-title-sec .big-subtitle {
    font-size: 28px;
  }

  .big-title-sec p {
    font-size: 14px;
  }

  #action-section {
    text-align: center;
  }

  #action-section h2 {
    line-height: 1.4;
  }

  #action-section .btn+.btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .client img {
    width: 100%!important;
  }

}

@media screen and (max-width: 480px) {
  .back-to-top {
    visibility: hidden;
  }
}